<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ramos</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Workpoint -->
  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle>
        <ion-icon name="pin" class="card-icon"></ion-icon>
        Puesto de trabajo
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div style="width: 100%;" *ngIf="isOnEditWorkpoint">
        <app-edit-workpoint 
        (onBlockChange)="handleBlockChange($event)"
        (onProductChange)="handleProductChange($event)"
        (onStandChange)="handleStandChange($event)"
        ></app-edit-workpoint>
      </div>
      <div style="width: 100%; padding-bottom: 5px;" *ngIf="workpoint">
        <p>Bloque: {{ workpoint.block.name }}</p>
        <p>Variedad: {{ workpoint.product.name }}</p>
        <p>Mesa: {{ workpoint.stand.name }}</p>
      </div>
      <div style="width: 100%;text-align: center;">
        <ion-button color="light" size="small" (click)="scan(workpointType)">
          Scan
          <ion-icon slot="start" name="scan"></ion-icon>
        </ion-button>
        <ion-button color="light" size="small" (click)="showWorkpointContent()" *ngIf="false">
          Crear
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- Employee -->
  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle>
        <ion-icon name="person" class="card-icon"></ion-icon>
        Trabajador
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="card-content">
      <div *ngIf="employee" style="width: 100%;padding-bottom: 5px;">
        <p>Nombre: {{employee.firstName}} {{employee.lastName}}</p>
      </div>
      <div style="width: 100%; text-align: center;">
        <ion-button color="light" size="small" (click)="scan(employeeType)">
          Scan
          <ion-icon slot="start" name="scan"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- Packaging -->
  <ion-card>
    <ion-card-header class="card-header">
      <ion-card-subtitle>
        <ion-icon name="cube" class="card-icon"></ion-icon>
        Embalaje
      </ion-card-subtitle>
    </ion-card-header>
   <ion-card-content>
    <ion-select [(ngModel)]="selectedPackaging" interface="action-sheet" placeholder="Seleccione el embalaje" style="width: 100%;">
      <ion-select-option *ngFor="let packaging of packagings" [value]="packaging">{{ packaging.name }}</ion-select-option>
    </ion-select>
   </ion-card-content>
  </ion-card>
  <div class="full-screen" [style]="{display: isScannerOpened ? '' : 'none'}">
    <div id="qr-reader"></div>
    <div class="reader-description">
      <ion-text color="primary">
        <p>Ubique el codigo QR dentro del recuadro, la lectura se hace de forma automatica</p>
      </ion-text>
    </div>
    <div class="reader-actions">
      <ion-button color="light" size="small" (click)="finalizeScan()">
        Cerrar
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-list [inset]="true">
    <ion-item class="item-amount">
      <ion-input placeholder="#" class="input-big-size ion-text-center" type="number" min="1" max="9999"
        [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="secondary" class="ion-text-center">Cantidad</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="!isScannerOpened">
      <ion-col sizeSm="12" sizeMd="3">
        <ion-button 
          expand="full" 
          color="success" 
          [disabled]="!checkCountReady()"
          (click)="save()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>