<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Counts</ion-title>
    <ion-chip color="primary" slot="end">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{user.name}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Counts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeSm="12" sizeMd="3">
        <ion-item>
          <ion-icon name="apps" color="primary" slot="start"></ion-icon>
          <ion-select placeholder="Bloque" interface="action-sheet" [(ngModel)]="block" (ionChange)="changeBlock()">
            <ion-select-option [value]="bl" *ngFor="let bl of blocks">{{bl.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="rose" color="primary" slot="start"></ion-icon>
          <ion-select placeholder="Variedad" interface="action-sheet" [(ngModel)]="product" (ionChange)="changeProduct()">
            <ion-select-option *ngFor="let prod of products" [value]="prod">{{prod.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="ion-justify-content-center" *ngIf="!productURL">
          <ion-col sizeSm="12" sizeMd="3" class="ion-text-center">
            <ion-icon name="rose-outline" class="icon-big-size"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-img [src]="productURL" *ngIf="productURL"></ion-img>
        <ion-item class="item-amount">
          <ion-input 
          placeholder="#" 
          class="input-big-size ion-text-center" 
          type="number" 
          min="1" 
          max="9999" [(ngModel)]="count.amount"></ion-input>
        </ion-item>    
        <ion-item lines="none">
          <ion-label color="secondary" class="ion-text-center">Cantidad Contada</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeSm="12" sizeMd="3">
        <ion-button expand="full" color="success" (click)="saveCount()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
