<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Counts</ion-title>
    <ion-chip color="primary" slot="end">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ramos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeSm="12" sizeMd="3">
        <ion-item (click)="scan('collector')">
          <ion-icon name="apps" color="primary" slot="start"></ion-icon>
          <ion-label>{{ collector }}</ion-label>
        </ion-item>
        <ion-item (click)="scan('product')">
          <ion-icon name="rose" color="primary" slot="start"></ion-icon>
          <ion-label>{{ product }}</ion-label>
        </ion-item>    
        <video #video [hidden]="!isScanActive" width="100%" playsinline class="mt-10"></video>
        <canvas #canvas hidden></canvas>
        <ion-item class="item-amount">
          <ion-input 
          placeholder="#" 
          class="input-big-size ion-text-center" 
          type="number" 
          min="1" 
          max="9999" [(ngModel)]="amount"></ion-input>
        </ion-item>    
        <ion-item lines="none">
          <ion-label color="secondary" class="ion-text-center">Cantidad Contada</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="!isScanActive">
      <ion-col sizeSm="12" sizeMd="3" class="ion-text-center">
        <ion-icon name="rose-outline" class="icon-big-size"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeSm="12" sizeMd="3">
        <ion-button expand="full" color="success" [disabled]="!collector || !product || !amount" (click)="save()">Guardar</ion-button>
        <ion-button expand="full" (click)="reset()">Limpiar</ion-button>    
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
